name: Lint Markdown

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.md"
